<!-- Formulario -->
<h1>Validacion de formulario</h1>
<form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
    <div>
        <label>Título</label>
        <input formControlName="titulo" type="text">
        <p *ngIf="myForm.get('titulo').touched && myForm.get('titulo').hasError('required')">
        El campo titulo es obligatorio</p>
    </div>
    <div>
        <label>Número de pistas</label>
        <input formControlName="num_pistas" type="text">
        <p *ngIf="myForm.get('num_pistas').touched 
        && myForm.get('num_pistas').hasError('required')">
        El campo numero de pistas es obligatorio</p>
        <p *ngIf="myForm.get('num_pistas').hasError('maxlength')">La longuitud maxima del campo es dos</p>
    </div>
    <div>
        <label>Año de lanzamiento</label>
        <input formControlName="anyo" type="text">
    </div>
    <button>Save</button>
</form>

